// ----- COLORS -----

$mainBgColor: rgb(20, 22, 37);
$primaryTextColor: rgb(223, 227, 250);
$primaryPurple: rgb(124, 93, 250);
// DASHBOARD

// Invoices
$invoiceBg: rgb(30, 33, 57);
// COLORS

$mainBgColor: rgb(20, 22, 37);
$primaryTextColor: rgb(223, 227, 250);
// ----- COLORS -----

$mainBgColor: rgb(20, 22, 37);
$primaryTextColor: rgb(223, 227, 250);

// DASHBOARD

// Invoices
$invoiceBg: rgb(30, 33, 57);
$hashColor: rgb(126, 136, 195);

// Invoice status

// paid
$paidBgColor: rgba(51, 214, 159, 0.06);
$paidPrimaryColor: rgb(51, 214, 159);

// pending
$pendingBgColor: rgba(255, 143, 0, 0.06);
$pendingPrimaryColor: rgb(255, 143, 0);

// draft
$draftBgColor: rgba(223, 227, 250, 0.06);
$draftPrimaryColor: rgb(223, 227, 250);
$draftPrimaryColor: rgb(223, 227, 250);
