<<<<<<< HEAD
// ----- COLORS -----

$mainBgColor: rgb(20, 22, 37);
$primaryTextColor: rgb(223, 227, 250);
$primaryPurple: rgb(124, 93, 250);

// DASHBOARD

// Invoices
$invoiceBg: rgb(30, 33, 57);
=======
// COLORS

$mainBgColor: rgb(20, 22, 37);
$primaryTextColor: rgb(223, 227, 250);
>>>>>>> Basic dashboard setup
