.invoice-view {
    position: relative;
    .go-back{
        width: 10rem;
        cursor:pointer;
        transition: 0.3s;
        &:hover {
            color: $hashColor;
          }
    }
    span{
        text-align: start;
        margin-right: 1.5rem;
    }
    .invoice-header{
        display                 : grid;
        margin-top              : 2rem;
        grid-template-columns   : auto auto;
        justify-content         : space-between;
        align-items             : center;
        width                   : 100%;
        border                  : 1px solid transparent;
        border-radius           : 8px;
        padding                 : 1.5rem;
        background              : $invoiceBg;
        box-sizing              : border-box;
    }
    .status__container {
        margin-left: auto;
        @include flexItem(center, center, row);
        width        : 6.5rem;
        height       : 2.5rem;
        border-radius: 6px;
        text-transform: capitalize;
    

        .invoice-status__circle {
            width        : 0.5rem;
            height       : 0.5rem;
            border-radius: 50%;
            margin-right : 0.5rem;
        }
    }

    // Different styles for each invoice status
    .invoice {
        &--paid {
            background-color: $paidBgColor;
            color           : $paidPrimaryColor;

            .invoice-status__circle {
                background-color: $paidPrimaryColor;
            }
        }

        &--pending {
            background-color: $pendingBgColor;
            color           : $pendingPrimaryColor;

            .invoice-status__circle {
                background-color: $pendingPrimaryColor;
            }
        }

        &--draft {
            background-color: $draftBgColor;
            color           : $draftPrimaryColor;

            .invoice-status__circle {
                background-color: $draftPrimaryColor;
            }
        }
    }
}