// Different styles for each invoice status
.invoice {
    &--paid {
        background-color: $paidBgColor;
        color           : $paidPrimaryColor;

        .invoice-status__circle {
            background-color: $paidPrimaryColor;
        }
    }

    &--pending {
        background-color: $pendingBgColor;
        color           : $pendingPrimaryColor;

        .invoice-status__circle {
            background-color: $pendingPrimaryColor;
        }
    }

    &--draft {
        background-color: $draftBgColor;
        color           : $draftPrimaryColor;

        .invoice-status__circle {
            background-color: $draftPrimaryColor;
        }
    }
}