.invoice-view {
    position: relative;

    span{
        text-align: start;
        margin-right: 1.5rem;
    }
    .invoice-header{
        display                 : grid;
        grid-template-columns   : auto auto;
        justify-content         : space-between;
        align-items             : center;
        width                   : 100%;
        border                  : 1px solid transparent;
        border-radius           : 8px;
        padding                 : 1.5rem;
        background              : $invoiceBg;
        box-sizing              : border-box;
    }
    .status__container {
        margin-left: auto;
        @include flexItem(center, center, row);
        width        : 6.5rem;
        height       : 2.5rem;
        border-radius: 6px;
        text-transform: capitalize;
    

        .invoice-status__circle {
            width        : 0.5rem;
            height       : 0.5rem;
            border-radius: 50%;
            margin-right : 0.5rem;
        }
    }

    .invoice-body {
        border                  : 1px solid green;
        width                   : 100%;
        border-radius           : 8px;
        background              : $invoiceBg;
        box-sizing              : border-box;
        display                 : grid;
        justify-content         : space-between;
        align-items             : center;
        margin-top              : 2rem;
        // height                  : calc(100vh - 100px);
        height                  : 100vh;
        padding                 : 1.5rem;
        grid-template-columns   : repeat(2, 1fr);
                
        .description {
            grid-area: 1 / 1 / span 1 / span 1;
            // border: 1px solid white;
        }
        .sender-address {
            grid-area: 2 / 1 / span 1 / span 1;
            // border: 1px solid white;
        }
        .date {
            grid-area: 3 / 1 / span 1 / span 1;
            // border: 1px solid white;
        }
        .client-address {
            grid-area: 3 / 2 / span 1 / span 1;
            // border: 1px solid white;
        }
        .email {
            grid-area: 4 / 1 / span 1 / span 1;
            // border: 1px solid white;
        }
        .table {
            grid-area               : 5 / 1 / span 1 / span 2;
            display                 : grid;
            width                   : 100%;
            grid-template-columns   : 1fr 1fr;
            justify-content         : space-evenly;
            border-radius           : 8px;
            .item{
                padding                 :1rem;
                background-color        : rgb(37, 41, 69);
            }
            .item2{
                padding         : 2rem 1rem;
                background-color: #0c0e16;
            }
        }
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        background              : $invoiceBg;
        justify-content: space-between;
        padding:1rem 0;
        bottom: 0;
        margin-top: 2rem;
        height: 3rem;
        width: 100%;
    }
}