.invoice-view {

    h1,
    h3 {
        margin-bottom: 4px;
    }

    margin-bottom: 6.5rem;

    .invoice-header {
        // display              : grid;
        grid-template-columns: auto auto;
        justify-content      : space-between;
        align-items          : center;
        width                : 100%;
        border               : 1px solid transparent;
        border-radius        : 8px;
        padding              : 1.5rem;
        background           : $invoiceBg;
        box-sizing           : border-box;
        margin-bottom        : 1.5rem;


        .header-status {
            @include flexItem(space-between, center, row);
            width: 100%;
        }

        .footer {
            position  : absolute;
            bottom    : 0;
            left      : 0;
            width     : 100%;
            background: $invoiceBg;
            @include flexItem(flex-end, center, row);
            padding   : 1.5rem;
            box-sizing: border-box;

        }
    }

    .invoice-body {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        row-gap              : 2rem;
        width                : 100%;
        border-radius        : 8px;
        background           : $invoiceBg;
        box-shadow           : rgba(72, 84, 159, 0.10) 0px 10px 10px -10px;
        box-sizing           : border-box;
        display              : grid;
        justify-content      : space-between;
        align-items          : center;
        padding              : 1.5rem;
        grid-template-columns: repeat(2, 1fr);

        .client-name {
            margin: 8px 0 4px;
        }

        .description {
            grid-area: 1 / 1 / 2 / 3
        }

        .sender-address {}

        .dates {
            grid-area: 3 / 1 / 4 / 2;
            @include flexItem(center, flex-start, column);
            gap: 2rem;
        }

        .client-address {
            grid-area: 3 / 2 / 4 / 3;
        }

        .email {
            grid-area: 4 / 1 / 5 / 2;
        }

        .table {
            grid-area            : 6 / 1 / 7 / -1;
            display              : grid;
            width                : 100%;
            grid-template-columns: 1fr 1fr;
            justify-content      : space-evenly;
            border-radius        : 8px;

            .item {
                padding         : 1rem;
                background-color: rgb(37, 41, 69);
            }

            .item2 {
                padding         : 2rem 1rem;
                background-color: #0c0e16;
            }
        }
    }


}